*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {

    background-color: rgb(0, 0, 0);
    color: white;}

.header {

    background-image: url(assets/images/bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    align-items: center;
    




}


header .overlay {

    background-color: rgb(0, 0, 0);
    position: absolute;

    width: 100%;
    z-index: 1;
    opacity: 75%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}


.navbar {

    height: 10vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    align-items: center;
    flex-direction: row;
    max-width: 1200px;
    width: 90%;
    top: 3vh;
    margin: auto;
    flex-wrap: nowrap;
    overflow: hidden;


}

.logo {

    width: 160px;
    z-index: 3;
}

.btn {

    display: flex;
    gap: 1vw;
}


.btn1 {

    background-color: rgba(20, 20,20, 0.5);
    height: 35px;
    width: 140px;
    border-radius: 5px;
    font-weight: 500;
    color: aliceblue;
    text-align: center;
    font-size: 18px;
    padding: 5px;
}

.btn2 {

    background-color: red;
    color: aliceblue;
    font-family: Helvetica;
    width: 90px;
    height: 40px;
    border-radius: 5px;
    font-weight: 900;
}


.text {

    height: 45%;
    display: flex;
    flex-direction:column;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 2;
    gap: 23px;
    margin-top: 15vh;
    text-align: center;

}

.txt1 {

   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 70px;
   font-weight: 900;
   position: relative;
}

.txt2 {

font-weight: 500;
position: relative;
font-size: 25px;
}

.txt3 {

    font-weight: 300;
    position:relative;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.emailbox {

    display: flex;
    position: relative;
    height: 8vh;
    width: 40vw;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    z-index: 2;
    padding-left: 16px;
    margin: auto;
    flex-wrap: nowrap;
    overflow: hidden;

}

.emailtxt {

    flex: 1;
    height:50px;
    border-radius: 5px;
    background-color: rgba(20, 20,20, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: aliceblue;
    padding-left: 30px;
    

}

.getstartedtxt {
    
    width:200px; 
    height:50px;
    font-size:20px;

    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    border-radius: 5px;
    font-weight: 700;


}

.overlay2 {

    height: 25vh;
    position: relative;
    z-index: 3;
    display: flex;
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overlay2 :first-child {

    width: 100%;
}

.overlay2 h2 {
    position: absolute;
    margin-left: 10vw;
    margin-top: 10vh;
    font-size: 30px;
    

}

.screen2 {

    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100%;
    margin-top: 0;
    z-index: 3;

}

.movierow {
    z-index: 3;
    position: relative;
    height: 40vh;
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 5px;
    display: flex;
    align-items: center;
flex-wrap: nowrap;
overflow: hidden;}


.movie {

    height: 280px;
    width: 210px;
    border-radius: 10px;
    object-fit: cover;
    margin: auto;
    position: relative;



}

.txt4 {

    font-size: 30px;
    font-weight: 600;
    position: relative;
    margin-top: 10vh;
    margin-left: 13vw;
}


.reasons {

    height: 70vh;
    width: 72vw;
    margin: auto;
    margin-top: 3vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

    

}

.r {


    height: 240px;
    width:500px ;
    position: relative;
    border-radius: 20px;
    background: linear-gradient(to bottom, #1f2346, #2b0f2e);
    margin: auto;

}

.r h1 {

    font-size: 25px;
    color: white;
    position: relative;
    top: 10%;
    left: 5%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px solid black;
}


.r h2 {

    font-size: 20px;
    color: white;
    position: relative;
    padding: 10% 5% 5%;
    font-weight: 400px;


    display: flex;
    flex-wrap: wrap;
    font-weight: 100;
}




















@media ( max-width: 600px) {
    

    .navbar {

        height: 5vh;
    }


    .btn1 {

        width: 100px;
        height: 30px;
        font-size: 14px;
    }


    .btn2 {

        width: 80px;
        height: 30px;
        font-size: 14px;
    }

    .btn {

        gap: 5vw;
    }

    .text {

        height: 25%;
    }

        .txt1 {
        font-size: 35px;
    }
    
    .txt2 {
        font-size: 18px;
        font-weight: 400;

    }
    
    .emailbox {

        margin-top: 2vh;
        width: 90vw;
        height: 28vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .logo {

        width: 120px;
    }

    .getstartedtxt {

        width: 170px;
    }

    .overlay2 {

        height: 10vh;
    }

    .overlay2 h2 {

        font-size: 20px;
        margin-top: 5vh;
    }

     .movierow {

        width: 90vw;
        height: 20vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 1vh;
        flex-wrap: nowrap;
        overflow: hidden;

    }

     .movie {

        height: 150px;
        width: 110px;
    }

    .movierow :last-child {

        display: none;}


.txt4 {

    font-size: 20px;
    font-weight: 600;
    position: relative;
    margin-top: 10vh;
    margin-left: 5vw;



}
.reasons {

    width: 90vw;
    height: 80vh;
}

.r {

    height: 180px;
    width: 90vw;
    position: relative;
    border-radius: 10px;
    background: linear-gradient(to bottom, #1f2346, #2b0f2e);
    margin: auto;
} }